# Ignore large 3D and medical imaging files
data
*.nii
*.obj
*.vtk*.nii
*.obj
*.vtk

*.nii
*.obj
*.vtk

printf "\nMassgraves/scripts3/DICOM-Maria_merged.nii\n" >> .gitignore
printf "Exercise2/SVVR volume data sets/stellar_collision_grid.vtk\n" >> .gitignore
printf "skeleton_mesh.obj\n" >> .gitignore